/*Satveer's Additions Start Here*/
body {
    margin:25px;
}

/*Code for h1 from 
  https://cssgradient.io/blog/css-gradient-text/; slightly changed*/
h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(#FEAC5E, #C779D0, #4BC0C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
/*Code of polaroid and container from
  https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card; slightly changed*/
.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
.container {
    text-align: center;
    padding: 10px 20px;
  }

#fineprint {
      font-size: 10px;
  }

#hovertext:hover {
    color: #7f7fd5;
}
/*Code of *, column, and padding from 
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns; slightly changed*/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#padding
{
  padding-left: 20px;
}
/*Satveer's Additions End Here */
/*Eric's addition for tables */
  table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }
  /* Sample Button example on sample CSS page */
div.button1 {

    border: 1px solid red;
    color: white;
    width: 150px;
    height: 50px;
    padding: 15px;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
    background: -webkit-linear-gradient(#FEAC5E, #C779D0, #4BC0C8);
}
/*hover and active click code*/
.button1:hover{
  background: pink;
}
.button1:active{
  background-color: red;
}
/*manipulation of img*/
.roundImg {
  border-radius: 20%;
}
.centeredLi {
  margin-left:20%; 
}
/*Lars's addition Begin here */
.textmargin {
  margin-left: 100px;
}

