/*Satveer's Additions Start Here*/
body {
    margin:25px;
}

/*Code for h1 from 
  https://cssgradient.io/blog/css-gradient-text/; slightly changed*/
h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(#FEAC5E, #C779D0, #4BC0C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
/*Code of polaroid and container from
  https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card; slightly changed*/
.polaroid {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
.container-img {
    text-align: center;
    padding: 10px 20px;
  }

#fineprint {
      font-size: 10px;
  }

.hovertext:hover {
    color: #7f7fd5;
}
/*Code of *, column, and padding from 
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns; slightly changed*/
* {
  box-sizing: border-box;
}

.column {
  width: 50%;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
}

#padding
{
  padding-left: 20px;
}
/*Moved table stylization here*/
td, th
{
  border: 1px;
  text-align: left;
  padding: 5px;
}
th
{
  background-color: #dddddd;
}
tr:hover {background-color: #f5f5f5;}

.column-center
{
  margin: 0px auto;
  width: 50%;
}

/*Satveer's Additions End Here */

/*Eric's addition for tables */
  #table {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }
/* Moved previous stylization here*/
  .center{
  color: brown;
  text-align: center;
  }
  .Strongcenter{
  text-align: center;
  }
  table, td, th {
    border: 1px solid brown;
  }
  /* Sample Button example on sample CSS page */
div.button1 {

    border: 1px solid red;
    color: white;
    width: 150px;
    height: 80px;
    padding: 15px;
    margin: auto;
    text-align: center;
    transition-duration: 0.5s;
    background: -webkit-linear-gradient(#FEAC5E, #C779D0, #4BC0C8);
}
/*hover and active click code*/
.button1:hover{
  background: pink;
}
.button1:active{
  background-color: red;
}
/*manipulation of img*/
.roundImg {
  border-radius: 20%;
}
.centeredLi {
  margin-left:20%; 
}
/*Lars's addition Begin here */
.textMargin {
  margin-left:30%;
  margin-right:30%;
}
.textAlignHeading {
  text-align: center;
}
#roundImg2 {
  border-radius: 15%;
}

.olFormat {
  display: table;
  margin: 0 auto;
}

.navbar{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CSS CODE DURING CLASS

tr{
  background-color: blue;

}*/