@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    background-color: #E8E6E6
}

h1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: lighter;
}

h6 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
}

p {
    font-family: Roboto;
    font-size: 20px;
}

a { 
  text-decoration: none;
 }

/*Sidebar CSS*/
.sidenav {
    height: 100%;
    width: 110px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F9D059; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 175px 0 125px;
    text-align: center;
    /*6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    width: 200px;
    height: 150px;
    transform: rotate(90deg);
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
  }

  /* Make the sidebar disappear after a certain window size to not effect
    view of/hide other elements behind it. */
  @media screen and (max-width: 767px) {
    .sidenav{
      display: none;
    }
    .fixRightView{
      display: none;
    }
    .removeFixRightView{
      display: inline;
    }
    #displayProj4{
      display: none;
    }
    #displayProj4-5{
      display: inline;
    }
  }
  
  @media screen and (min-width: 768px){
    .removeFixRightView{
      display: none;
    }
    #displayProj4-5{
      display: none;
    }
  }

/* Move right elemets over to prevent being hidden by sidebar */
 .fixRightView {
  padding-right: 100px;
}

.removeFixRightView {
  padding: auto;
}

/* Center and crop image to 100px square */
.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
